.entry-title  {
  text-align: center;
  padding: 60px;
  background-color: #bf745f;
}

.entry-title  a {
  text-decoration: none;
  color: white;
}

.title-image img{
  width: 100%;
}

.text-wrapper {
  max-width: 960px;
  margin: 0 auto;

}

.entry-content {
  margin-top: 5%;
  padding: 0 40px;
}

.container {
  overflow: hidden;
  width: 100%;
  margin-top: 5%;
}



.two-grid {
  width: 50%;
  float: left;
  text-align: center;
}

.two-grid {
  width: 50%;
  float: left;
  text-align: center;
}

.two-grid h3 {
  font-size: 150%;
  margin: 30px 0;
}

.two-grid a {
  color: #bd735a;
}

.three-grid {
  width: 33%;
  float: left;
  text-align: center;
}

.two-grid-img {
  width: 150px;
}
